body {
    background-color: wheat;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333333;
    font-size: 55px;
    margin: 30px 0;
    text-align: center;
}

#questions {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 250x;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: beige;
    text-align: center;
}
#pQ {
    font-style:italic;
    font-weight: bold;
    text-align: center;
}
#labelStart{
    text-align: center;
}
#bQ{
    font-size: 25px;
}
#result{
    font-weight: bolder;
    font-size: xx-large;
}
#answers {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 150x;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
    
    background-color: beige;
    text-align: center;
}
.container{  
    text-align: center;  
    border: 1px solid ccc;  
    width: 100px;  
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;  
      
    }  
    #btn{  
    font-size: 25px;  
    } 

